@mixin font-style {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.following {
  width: min(98%, 1100px);
  margin: 0 auto;
  background-color: red;
  .followed-players {
    width: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, 545px));
    grid-gap: 10px;
  }
  .followed-player {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;
    min-width: 310px;
    border: 2px solid black;
  }
  .followed-player-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-color:lightblue;
    min-height: 200px;
    height: 100%;
  }
  .followed-player-profile, .followed-player-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

  .followed-player-name {
    @include font-style;
  }

  .followed-player-icon, .followed-player-tier {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
  }
  .followed-icon, .followed-rank {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
  .level {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include font-style;
    border-color: white;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: 3px 8px;
  }
  .followed-player-division {
    @include font-style;
    text-align: center;
  }
  .win-loss {
    margin-top: 0.5rem;
  }
}