@mixin font-style {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.following {
  width: min(98%, 1100px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  .followed-players {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .followed-player {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem 0;
    margin: 0 auto;
    width: 100%;
    min-width: 310px;
    max-width: 600px;
    border: 1px solid black;
  }
  .followed-player-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 200px;
    height: 100%;
  }
  .followed-player-profile, .followed-player-rank {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }

  .followed-player-name {
    @include font-style;
    font-size: 1rem;
  }

  .followed-player-icon, .followed-player-tier {
    width: 100px;
    height: 100px;
    position: relative;
  }
  .followed-icon, .followed-rank {
    width: 100px;
    aspect-ratio: 1 / 1;
  }
  .level {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include font-style;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    padding: 3px 8px;
  }
  .followed-player-division {
    @include font-style;
    font-size: 0.9rem;
    text-align: center;
  }

  .latest-game-wrapper {
    display: grid; 
    grid-template-columns: 2fr 4fr;
    margin-top: 1rem;
    border-top: 1px solid black;
    padding-top: 1rem;
  }
  .latest-champ-setup {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .latest-champ-summs {
    display: grid;
    grid-template-columns: 30px 30px;
    grid-template-rows: 30px 30px;
  }
  .latest-build-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .latest-champ-icon {
    width: 60px;
    height: 60px;
  }
  .latest-champ {
    width: 60px;
    aspect-ratio: 1 / 1;
  }

  .latest-summoner1, .latest-summoner2, .latest-keystone, .latest-secondary {
    background-color: rgba(0, 32, 70, 0.493);
    width: 30px;
    height: 30px;
  }
  .latest-small {
    width: 30px;
    height: 30px;
  }
  .latest-score {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    @include font-style;
  }

  .latest-build {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .latest-item {
    width: 40px;
    height: 40px;
    background-color: #222;
    border-right: 1px solid black;
  }
  .latest-item-image {
    flex: 0 0 40px;
    height: 40px;
    border: 1px solid black;
  }


}

@media only screen and (max-width: 850px) {
  .following {
    .followed-players {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, 3fr);
    }
    .latest-champ {
      width: 50px;
    }
    .latest-champ-icon {
      width: 50px;
      height: 50px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .following {
    .latest-item {
      width: 30px;
      height: 30px;
    }
    .latest-item-image {
      flex: 0 0 30px;
      height: 30px;
    }
    .latest-build-wrapper {
      justify-content: space-around;
    }
    .latest-champ {
      width: 46px;
    }
    .latest-champ-icon {
      width: 46px;
      height: 46px;
    }
    
    .latest-summoner1, .latest-summoner2, .latest-keystone, .latest-secondary {
      width: 28px;
      height: 28px;
      place-self: center;
    }
    .latest-small {
      width: 28px;
      height: 28px;
      place-self: center;
    }
  }
}

@media only screen and (max-width: 350px) {
  .following {
    .latest-summoner1, .latest-summoner2, .latest-keystone, .latest-secondary {
      width: 24px;
      height: 24px;
    }
    .latest-small {
      width: 24px;
      height: 24px;
      place-self: center;
    }
    .latest-champ-summs {
      grid-template-columns: 23px 23px;
      grid-template-rows: 23px 23px;
    }
    .latest-champ {
      width: 40px;
    }
    .latest-champ-icon {
      width: 40px;
      height: 40px;
    }
  }
}