.page-wrapper {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    background-color: green;

    .logo-container {
        flex: 1;
    }

    .searchbar-placeholder {
        flex: 3;
        height: 100%;
        background-color: pink;
    }

    nav {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        background-color: red;
        height: 100%;

        a {
            background-color: black;
            padding: .5rem 1.5rem;
            font-size: 1.3rem;
            text-decoration: none;
            color: white;
        }
    }
}

main {
    height: 92vh;
    display: grid;
    background-color: olive;
}

.searchbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    width: 750px;
    margin: 0 auto 300px auto;

    img {
        margin-bottom: 1rem;
    }

    .input-container {
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: grey;
        width: 750px;
        height: 6vh;
        margin-bottom: 1rem;
        border: 1px solid black;

        input {
            font-size: 1.5rem;
            padding: 0 1rem;
            height: 100%;
            flex: 5;
            border: none;
            
            &:focus {
                outline: none;
            }
        }
    
        button {
            cursor: pointer;
            height: 100%;
            flex: 1;
            border: none;
            font-size: 1.2rem;
        }
    }

    .regions-container {
        display:flex;
        align-items: center;
        justify-content: flex-start;
        background-color: lightblue;
        width: 100%;
        gap: 1rem;

        .region {
            background-color: white;
            padding: 3px 6px;
            border: 1px solid black;
            font-size: 0.85rem;
        }
    }
}