.nav {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-width: 17.5rem;
  height: max(75px, 10vh);
  font-family: "Poppins", sans-serif;
  border-bottom: 3px solid rgba(255, 255, 255, 0.486);
  .logo {
    font-size: clamp(1.2rem, 2.1vw, 2rem);
    color: white;
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
  a > p {
    color: white;
    padding: 0.5rem clamp(0.5rem, 0.8rem, 1rem);
    font-size: clamp(1.2rem, 2vw, 2rem);
    font-weight: 600;
  }
}
