.container {
  width: min(95%, 1000px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: yellow;
  
  .player-stats {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .player-card {
    background-color: purple;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .player-icon {
    height: 100px;
    width: 100px;
  }
  .player-summoner-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .player-name-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .player-name {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0.8rem 0.5rem;
  }
  .follow {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 80px;
    height: 40px;
    border: none;
    border: 1px solid #aaa;
    cursor: pointer;
  }

  .rank {
    background-color: lightblue;
    padding: 1.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .rank-header {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .rank-stats-wrap {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    width: 100%;
  }
  .rank-icon {
    height: 100px;
    width: 100px;
  }
  .rank-points {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
  }
  .rank-elo, .rank-winrate {
    padding: 0.7rem;
    color: white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }

  .best-champions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
  }
  .best-champions-header {
    padding: 0.7rem;
    color: white;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .best-champions-wrap {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightcyan;
    width: 100%;
    padding: 0.7rem 0.5rem;
  }
  .champion-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .champion-name, .champion-winrate, .champion-kda {
    padding: 0 0.8em;
    color: black;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .champion-kda {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .kda {
    width: 100%;
    text-align: center;
  }

  .matches {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: teal;
    width: 100%;
    margin: 0 auto;
  }
  .matches-header {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
  }
  .match-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(0, 175, 29);
    width: 100%;
    padding: 1rem 0.4rem;
    border-bottom: 1px solid black;
  }
  .idk {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .match-champion {
    display: flex;
    align-items: flex-end;
  }
  .champion-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .match-champion-level {
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .match-champion-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 50px;
  }
  .summs {
    padding-left: 10px;
    height: 50px;
    display: grid;
    row-gap: 1px;
    column-gap: 2px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .match-champion-stats {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .match-champion-kda, .match-champion-scores {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  .match-champion-build {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
    width: max(90%, 260px);
  }

  .small-icon {
    width: 22px;
    height: 22px;
  }

}
