@mixin font-style {
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: white;
}

.container {
  width: min(98%, 900px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

.summoner {
  width: 100%;
  min-height: 150px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1rem 0 2rem 0;

  .summoner-icon {
    flex: 0 0 98px;
    height: 98px;
    margin-left: 1rem;
  }
  .player-summoner-icon {
    width: 98px;
    aspect-ratio: 1 / 1;
  }

  .name-wrapper {
    margin-left: 1rem;
    width: 100%;
    min-height: 98px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .player-name,
  .follow-summoner {
    display: grid;
    place-items: start;
    width: 100%;
  }
  .summoner-name {
    @include font-style;
    line-height: 1.3rem;
    padding: 1rem 0;
    color: #ddd;
    font-size: 1.2rem;
  }
  .follow {
    color: white;
    border: none;
    border: 2px solid lightblue;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
}

.profile-navbar {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
  margin: 0 0 2rem 0;
  position: relative;

  .profile-navbar-wrapper {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
  }

  a {
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    color: white;
    flex-flow: row nowrap;
    padding: 0 0.5em;
    border-right: 2px solid white;
    &:focus {
      text-decoration: underline;
    }
  }
}

.wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.best-champions {
  min-height: 250px;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;

  .best-champions-header {
    @include font-style;
    margin-bottom: 1rem;
  }
  .best-champions-box {
    padding: 0.5rem 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 213px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .best-champions-wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .best-champion-score,
  .best-champion-look,
  .best-champion-games {
    width: 100%;
  }

  .best-champion-look {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .best-champion-icon {
    flex: 0 0 44px;
    height: 44px;
  }
  .champion-icon {
    width: 44px;
    aspect-ratio: 1 / 1;
  }
  .best-champion-name {
    @include font-style;
  }
  .best-champion-score {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    @include font-style;
  }
  .best-champion-games {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
    @include font-style;
  }
}

.rank {
  width: 100%;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  border: 1px solid black;
  .rank-header {
    @include font-style;
    width: 100%;
    text-align: center;
  }
  .rank-stats-wrap {
    height: 213px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .rank-image {
    flex: 0 0 128px;
    height: 128px;
    place-self: center;
  }
  .rank-icon {
    width: 128px;
    aspect-ratio: 1 / 1;
  }
  .rank-points {
    place-self: center start;
    width: 100%;
    @include font-style;
    font-size: 1rem;
  }
  .rank-elo,
  .rank-winrate {
    padding: 0.8em 0;
  }
  .rank-elo {
    border-bottom: 1px solid black;
  }
  .rank-winrate {
    font-size: 0.9rem;
  }
}

.matches {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .matches-header {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 1rem;
    border-bottom: 2px solid black;
    @include font-style;
  }
  .games-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 98%;
  }
  .game-wrapper {
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 25% 75%;
  }
  .game-champ-setup {
    padding: 0.5rem 0.4rem;
    width: 100%;
    min-width: 120px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .game-champ-summs {
    grid-area: 1 / 2 / 1 / 4;
    width: 100%;
    display: grid;
    grid-template-columns: 26px 26px;
    grid-template-rows: 26px 26px;
    place-self: center;
  }
  .summoner1, .summoner2, .keystone, .secondary {

    width: 26px;
    height: 26px;
  }
  .small {
    width: 26px;
    height: 26px;
  }
  .game-champ-icon {
    display: grid;
  }
  .ch {
    width: 40px;
    height: 40px;
    place-self: center;
  }
  .game-build-wrapper {
    display: flex;
    height: 100%;
  }
  .game-champ-score {
    width: 33%;
    text-align: center;
    line-height: 1.4rem;
    min-width: 100px;
    padding: 0.8rem 0.4rem;
    @include font-style;
    font-size: 0.95rem;
  }
  .game-champ-build {
    display: flex;
    width: 67%;
    align-items: center;
    justify-content: center;
  }
  .item {
    width: 40px;
    height: 40px;
  }
  .item-image {
    flex: 0 0 40px;
    height: 40px;
    border: 1px solid black;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-flow: column nowrap;
  }
  .matches {
    .game-wrapper {
      grid-template-columns: 1fr 1fr;
    }
    .game-champ-score {
      padding: 0;
      display: flex;
      width: 100%;
      align-content: flex-end;
      justify-content: space-evenly;
      font-size: 12px;
      height: 100%;
    }
    .score-header, .calculated-kda, .game-score {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: end center;
    }
    .game-champ-build {
      width: 100%;
      height: 100%;
      align-items: flex-start;
    }
    .item {
      width: 25px;
      height: 25px;
    }
    .item-image {
      flex: 0 0 25px;
      height: 25px;
    }
  }
  .game-build-wrapper {
    flex-direction: column;

  }
  
}
