@mixin font-style {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

.ranked-stats-wrapper {
    @include font-style();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ranked-stats-fields {
        width: 100%;
        display: grid;
        grid-template-columns: 4% 18% 14% 14% 10% 10% repeat(4, 1fr);
        background-color: red;
        place-items: center;
    }
    p {
        width: 100%;
        text-align: center;
    }
    .empty {
        width: 50px;
        background-color: purple;
    }
    .champ-stats {
        margin: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: 4% 18% 14% 14% 10% 10% repeat(4, 1fr);
        place-items: center;
    }
    .image-and-name {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            width: 50px;
            height: 50px;
            aspect-ratio: 1 / 1;
        }
        .no {
            padding-left: 1rem;
            text-align: left;
        }
    }
    .two-rows {
        width: 100%;
        p {
            padding: 3px;
        }
    }
}