@use "./partials/navbar";
@use "./partials/input-forms";
@use "./partials/logout_button";
@use "./partials//player-profile";
@use "./partials/following";
@use "./partials/ranked-stats";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(192, 78%, 39%);
  color: black;
}
