@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
.nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-width: 17.5rem;
  height: max(75px, 10vh);
  font-family: "Poppins", sans-serif;
  border-bottom: 3px solid rgba(255, 255, 255, 0.486);
}
.nav .logo {
  font-size: clamp(1.2rem, 2.1vw, 2rem);
  color: white;
  font-weight: 600;
}
.nav a {
  text-decoration: none;
}
.nav a > p {
  color: white;
  padding: 0.5rem clamp(0.5rem, 0.8rem, 1rem);
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
}

.search-bar {
  margin: 80px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.search-bar form {
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-bar select {
  height: 3rem;
  border: none;
  border-radius: 5px 0 0 5px;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
}
.search-bar input {
  padding: 0 0.5em;
  height: 3rem;
  border: none;
  font-size: 1rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: min(500px, 95%);
  max-width: 600px;
}

.input-section {
  width: min(500px, 95%);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  color: white;
}
.input-section form {
  padding: 0.7rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.input-section input,
.input-section label {
  width: min(350px, 90vw);
  height: 40px;
  font-size: clamp(1.2rem, 1vw, 2rem);
}
.input-section label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.input-section input {
  padding: 0 0.5rem;
}
.input-section button {
  height: 40px;
  width: 150px;
  font-size: clamp(1.2rem, 1vw, 2rem);
  margin: 1.2rem 0;
  cursor: pointer;
}
.input-section a {
  text-decoration: none;
  color: white;
}
.input-section a > h3 {
  width: min(500px, 100%);
  text-align: center;
  margin: 1rem 0;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 600;
  border-bottom: 1px solid white;
  color: white;
}
.input-section .password-field {
  position: relative;
}
.input-section .show-password {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  display: grid;
  place-items: center;
  background: none;
  border: none;
  color: #1692b1;
}
.input-section input,
.input-section button {
  border-radius: 0.2rem;
  border: none;
  border: 2px solid rgba(0, 90, 194, 0.39);
}

.logout-button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 0.5rem clamp(0.5rem, 0.8rem, 1rem);
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background: none;
}

.container {
  padding: 1rem;
  width: min(1100px, 90%);
  background-color: yellow;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container .player-stats {
  background-color: purple;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .rank,
.container .best-champions,
.container .player-card {
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
}
.container .player-card {
  background-color: pink;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: grid;
  grid-template: "a a a b" "a a a c";
}
.container .player-icon {
  place-self: center;
  background-color: red;
  grid-area: a;
  width: min(70%, 150px);
  height: min(70%, 150px);
}
.container .player-name {
  background-color: tan;
  grid-area: b;
  place-self: center;
}
.container .follow {
  grid-area: c;
  height: 50%;
  width: 50%;
  place-self: center;
}
.container .rank {
  background-color: green;
  display: grid;
  grid-template: "x x x x" "a a a b" "a a a b" "a a a b" "a a a b" "a a a c" "a a a c" "a a a c" "a a a c";
}
.container .rank-image {
  place-self: center;
  background-color: red;
  grid-area: a;
  width: min(70%, 150px);
  height: min(70%, 150px);
}
.container .rank-elo {
  background-color: tan;
  grid-area: b;
  place-self: center;
}
.container .rank-winrate {
  grid-area: c;
  height: 50%;
  width: 50%;
  place-self: center;
}
.container .rank-header {
  grid-area: x;
  background-color: white;
}
.container .best-champions {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .best-champions-header,
.container .rank-header {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.container .best-champions-wrap {
  margin-bottom: 5px;
  border-bottom: 1px solid purple;
  background-color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .matches {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: red;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .match-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 95%;
  margin-bottom: 10px;
  border-bottom: 1px solid purple;
  background-color: lightblue;
  margin: 0 auto;
}
.container .match-champion {
  display: grid;
  grid-template: "a a b c" "a a d e";
  background-color: black;
  gap: 2px;
}
.container .match-champion-icon {
  grid-area: a;
  background-color: coral;
  height: 50px;
  width: 50px;
  place-self: center;
}
.container .match-champion-summoner1 {
  grid-area: b;
  background-color: coral;
  height: 40px;
  width: 40px;
}
.container .match-champion-summoner2 {
  grid-area: c;
  background-color: coral;
  height: 40px;
  width: 40px;
}
.container .match-champion-keystone {
  grid-area: d;
  background-color: coral;
  height: 40px;
  width: 40px;
}
.container .match-champion-secondary {
  grid-area: e;
  background-color: coral;
  height: 40px;
  width: 40px;
}
.container .match-champion-score {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: orange;
}
.container .match-champion-build {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.container .match-item1,
.container .match-item2,
.container .match-item3,
.container .match-item4,
.container .match-item5,
.container .match-item6,
.container .match-item7 {
  height: 40px;
  width: 40px;
  background-color: purple;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1692b1;
}
/*# sourceMappingURL=index.css.map */